* {
    margin: 0;
    padding: 0;
}
body{
	background : #D9942D;
	background : -webkit-gradient(linear,left top ,left bottom,from(#F3C37B),color-stop(0.3,#F79708),to(#D9942D));
	background-image: linear-gradient(bottom, rgb(61,121,95) 37%, rgb(92,158,124) 69%);
	background-image: -o-linear-gradient(bottom, rgb(61,121,95) 37%, rgb(92,158,124) 69%);
	background-image: -moz-linear-gradient(bottom, rgb(61,121,95) 37%, rgb(92,158,124) 69%);
	background-image: -webkit-linear-gradient(bottom, rgb(61,121,95) 37%, rgb(92,158,124) 69%);
	background-image: -ms-linear-gradient(bottom, rgb(61,121,95) 37%, rgb(92,158,124) 69%);
	margin :0%;
	padding: 0%;
	font-family :Ubuntu ,sans-serif;
}
#web{
	margin:0px;
	width : 1000px;
	height : 97%;
	background : #F2F2F2;
	padding-top:10px;
	display :relative;
	margin-bottom: 0px;
	position :relative;
	left : 150px;
	-webkit-box-shadow:  0px 3px 10px 7px #E6E6FA;
}
#web ul{
		background : #BDBDBD;
		-webkit-border-radius : 20px 20px 20px 20px;
		-moz-border-radius:  20px 20px 20px 20px ;
		position:relative;
		left:3%;
		width: 900px;
		height : 30px;
		background : -webkit-gradient(linear, left top, left bottom,from(#BDBDBD),color-stop(0.5,#2E2E2E));
		background : -moz-linear-gradient(top,#BDBDBD,#2E2E2E 50% ,#848484);
		font :  13px/19px "Ubuntu", sans-serif;
		-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}
#web ul li{
	display: inline-block;
	text-decoration : none;
	padding : 10px;
	padding-top:0.5%;
	padding-bottom:0.5%;
	padding-left: 3%;
	padding-right: 3%;
	padding -left: 40px;
	color : white;
	-webkit-border-radius : 20px 20px 20px 20px;
	-moz-border-radius:  20px 20px 20px 20px ;
}
#web ul li:hover{
background :black;
}
#web ul li:last-child:hover{
	background : transparent;
}
#web ul li a{
	text-decoration:none;
	color : white;
}
/*---------------------Text Box----------------------------------------------*/

#text {
	-webkit-border-radius : 10px 10px 10px 10px;
	-moz-border-radius : 10px 10px 10px 10px;
	border-color : transparent;
	width : 100px;
	background : #A4A4A4;
}
/* -------- CSS for Login  Window----------------------------------------*/

#login{
	display : inline-block;
	margin : 0px;
	padding : 0px;
	position : absolute;
	left : 1313px;
	top : 224px;
}

#lbutton{
	margin :0px;
	padding : 0px;
	width : 52px;
	height: 193px;
	background :#FF8000;
	border-color :transparent;
	-webkit-border-radius : 20px 0px 0px 20px;
	-moz-border-radius:20px 0px 0px 20px;
	color : #170B3B;
	display : inline-block;
	margin-top :1px;
}

#loginbox{
	margin:0px;
	border : 1px solid black;
	width : 250px;
	height : 100px;
	padding : 88%;
	-moz-padding-end: 90%;
	-webkit-border-radius : 0px 20px 20px 0px;
	-moz-border-radius:0px 20px 20px 0px;
	display : inline-block;
	position : absolute;
	border-left : 0px;
	top : 1px; 
	left : 50px;
	display : none;
	background : #8A4B08;
}
#loginbox table tr{
	padding : 20px;
}
#textb
{
	width :150px;
	height : 20px;
	padding-top : 10px;
}

#loginas
{
	width : 100px;
	margin-top : 10px;

}
#lsubmit
{
	height : 31px;
}
/*.button {
	padding : 5px;
	background :#0080FF;
	color : white;
	width:100px;
	-webkit-border-radius : 10px 10px 10px 10px;
	-moz-border-radius : 10px 10px 10px 10px ;
	border-color :transparent;
}

.button:hover {
	background:#f00;
}
*/
/*-----------------------Registration Box--------------------------------------------------*/


#registerbox{
	margin:0px;
	width : 1000px;
	height :650px;
	background:white;
	padding-top:10px;
	display :relative;
	margin-bottom: 0px;
	position :relative;
	left : 150px;
	display :none;
}
#registerbox .well table input {
	height : 25px;
}
#registerbox .well table tr td{
	padding : 10px;
}