body{
	background : #c0c0c0;
	margin :0%;
	padding: 0%;
	font-family :Ubuntu ,sans-serif;
	overflow-y:hidden;
	overflow-x : hidden;
}
#web{
	margin:0px;
	margin-left: 10%;
	margin-right :10%;
	width : 80%;
	height:100%;
	background:white;
	padding-top:10px;
	display : inline-block;
	margin-bottom: 0px;

}
#web ul{
		background : #BDBDBD;
		-webkit-border-radius : 20px 20px 20px 20px;
		-moz-border-radius:  20px 20px 20px 20px ;
		position:relative;
		left:3%;
		width:85%;
		background : -webkit-gradient(linear, left top, left bottom,from(#BDBDBD),color-stop(0.5,#2E2E2E),to(#848484));
		background : -moz-linear-gradient(top,#BDBDBD,#2E2E2E 50% ,#848484);
		font :  13px/19px "Ubuntu", sans-serif;
		-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
}
#web ul li{
	display: inline-block;
	text-decoration : none;
	padding : 10px;
	padding-top:0.5%;
	padding-bottom:0.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding -left: 40px;
	color : white;
}
#web ul li:hover{
background :black;
}
/* -------- CSS for Login  Window----------------------------------------*/

#login{
	display : inline-block;
	margin : 0px;
	padding : 0px;
	position : absolute;
	left : 96.5%;
	top : 35%;
}

#lbutton{
	margin :0px;
	padding : 0px;
	width : 50px;
	height: 160px;
	background :#FF8000;
	-webkit-border-radius : 15px 15px 15px 15px;
	-moz-border-radius:25px 25px 25px 25px;
	color : #170B3B;
	display : inline-block;
}

#loginbox{
	margin:0px;
	border : 1px solid black;
	width : 250px;
	padding : 30px;
	display : inline-block;
	position :absolute;
	top : 0px; 
	left : 50px;
}